@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
 }

@font-face {
   font-family: 'Noto Sans KR Light';
   font-style: normal;
   font-weight: 100;
   src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
 }
 
 @font-face {
   font-family: 'Noto Sans KR Bold';
   font-style: normal;
   font-weight: 600;
   src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
 }

 @font-face {
    font-family: 'Intro';
    font-style: normal;
    src: url(font/Intro.ttf.woff) format('woff');
  }

  
html, body {
    margin: 0;
    padding: 0;
    /* cursor: none; */
    overflow-x: hidden;
    
}

html::-webkit-scrollbar {
    display: none;
}

.mousecursor {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 9999;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: .3s;
    -webkit-transition:left .3s, top .3s, opacity .8s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    background-color: rgba(0,0,0,.2);
    -webkit-box-shadow: 0px 22px 75px 3px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 22px 75px 3px rgba(0,0,0,0.11);
    box-shadow: 0px 11px 35px 1px rgba(0,0,0,0.11);
}

.real_mousecursor {
    opacity: 0;
    pointer-events: none;
    position: fixed; 
    width: 10px;
    height: 10px;
    border-radius: 100%;
    transition: .2s;
    -webkit-transition:left .2s, top .2s, opacity .8s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    background-color: rgba(61,49,75,.7);
}

.prograss {
    position: fixed;
    z-index: -5;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: rgba(0,0,0,.1);
    transition: height .8s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-backface-visibility: hidden;
}


.pages {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page_count {
    width: 50px;
    height: calc(100% - 200px);  
    left: 100%;
    margin-left: -125px;
    position: fixed;
    margin-top: 200px;
}

.page_count_text {
    width: 100px;
    font-family: 'Intro';
    font-size: 18pt;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
    float:left;
    transition: margin-top .8s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.kidevelop {
    width: 50%;
    height: 100px;
    background-image: url(kidevelop_mainimage.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: calc(-50% / 2);
    margin-top: -50px;
}


.card {
    float:left;
    z-index: 10;
    width: calc(100% - 300px);
    height: calc(100% - 300px);
    background-color: #fff;
    margin: 150px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 22px 75px 3px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 22px 75px 3px rgba(0,0,0,0.11);
    box-shadow: 0px 22px 75px 3px rgba(0,0,0,0.11);
}

.bigtitle {
    font-family: 'Intro';
    font-size: 28pt;
    text-align: center;
    margin-top: 50px;
}

.subtext {
    font-family: 'Noto Sans KR Bold';
    font-size: 14pt;
    color: #171717;
    letter-spacing: -0.2;
}

.context {
    font-family: 'Noto Sans KR';
    font-size: 14pt;
    color: #171717;
    letter-spacing: -0.2px;
}

.scrolltitle {
    position: absolute;
    left: 50%;
    top: calc(100% - 300px);
    margin-left: -51px;
    color: #d6d6d6;
    letter-spacing: 5;
}

.profile {
    float:left;
    margin-left: calc(50% - 244px);
    margin-top: 50px;
}

.profile_image {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(kidevelopio.png);
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0px 22px 75px 3px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 22px 75px 3px rgba(0,0,0,0.11);
    box-shadow: 0px 11px 35px 1px rgba(0,0,0,0.11);
}

.profile_content {
    float: left;
    margin-left: 50px;
    line-height: 24pt;
}

.profile_content > a > img {
    width: 30px;
    margin-right: 15px;
    float:left;
    margin-top: 10px;
}

.cirpercent {
    width: 130px;
    height: 130px;
    background:
    linear-gradient(180deg, transparent 50%, #f16529 50%),
    linear-gradient(180deg, #f16529 50%, transparent 50%);
    border-radius: 100%;
    float:left;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 100%;
    position: relative;
    top: 15px;
    left: 15px;
    -webkit-box-shadow: 0px 22px 75px 3px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 22px 75px 3px rgba(0,0,0,0.11);
    box-shadow: 0px 22px 75px 3px rgba(0,0,0,0.11)
}

.circle > img {
    width: 50px;
    height: 50px;
    margin: 25px;
}

.minicircle {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 100%;
    position: relative;
    top: -35px;
    left: 70px;
    -webkit-box-shadow: 0px 5px 50px 3px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 5px 50px 3px rgba(0,0,0,0.11);
    box-shadow: 0px 5px 50px 3px rgba(0,0,0,0.11);
    line-height:50px;
    text-align: center;
    font-family: 'Noto Sans KR Bold';
    font-size: 18pt;
    color: #171717;
    letter-spacing: -0.2;
}

.skill {
    float:left;
    width: 450px;
    height: 130px;
    margin-left: 20px;
    margin-top:50px;
}

.skill_box {
    width: 300px;
    float:left;
    margin-left:20px;
}

.skill_name {
    font-family: 'Noto Sans KR Bold';
    font-size: 24pt;
    color: #171717;
    letter-spacing: -0.2;
    float:left;
    line-height: 20px;
    width:100%;
}

.skill_date {
    font-family: 'Abril Fatface', cursive;
    font-size: 12pt;
    font-style: italic;
    color: #b6b6b6;
    letter-spacing: 3px;
    float:left;
    margin-top: 10px;
    width:100%;
}

.skill_content {
    font-family: 'Noto Sans KR';
    font-size: 12pt;
    color: #171717;
    letter-spacing: -.8px;
    float:left;
}

@media  (max-width: 600px) {
    .kidevelop {
        background-size: 100%;
    }
}
